    * {
        font-size: 19px;
    }
    
    body {
        background-image: url("/992f16af05270d48faf4578ac9fe73bb.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2%;
    }
    
    .form-container {
        border-radius: 20px;
        border-style: groove;
        background-color: rgba(184, 180, 180, 0.6);
        position: absolute;
        left: 25%;
        right: 25%;
        width: 50%;
        height: auto;
        padding: 1%;
    }
    
    .formli {
        font-size: 20px;
        position: relative;
        width: 600px;
        left: 50px;
    }
    
    label {
        font-size: 20px;
    }